<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CSIS4550Final.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>14068B4A1BFB84E8008D1095</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>14068B5E1BFB84E8008D1095</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>14068B691BFB84E8008D1095</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
